* {
    box-sizing: border-box;
  }

 body {
    margin:0px;
} 

h1 {
  padding-left: 220px;
  padding-top: 20px;
  font-family: 'Amatic SC';
  font-size: 25px;
  font-weight: lighter;
}
table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
th, td {
    background-color: rgb(240, 203, 203);
    border-bottom: 3px solid rgb(255, 255, 255);
    opacity: 0.8;
    padding: 15px;
    text-align: left; 
  }
.title {
  color: white;
 text-shadow: 1px 1px rgb(126, 81, 51);
}
a {
color: black;
text-decoration: none;
}
td a:hover {
 color: rgb(255, 255, 255);
 text-shadow: 1px 1px rgb(126, 81, 51); 
}
.pStyle {
float: left;
padding-left: 245px;
font-family: 'Amatic SC';
font-size: 20px;
}
.pStyle a:hover {
 color: rgb(255, 255, 255);
text-shadow: 1px 1px rgb(126, 81, 51);
}
.storeName {
 font-family: 'Amatic SC';
 font-size: x-large;
 }

 @media (max-width: 767.98px) {
  h1 {
    position: absolute;
    top:  20%;
  }
  table {
    width: 90vw;
    position: absolute;
    top:  40%;
  }
  footer {
    position: fixed;
    bottom: 5px;
    left: 0;
  }

}