* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1 {
  padding-top: 40px;
  padding-left: 200px;
  font-family: "Amatic SC";
  font-weight: lighter;
}

section {
  display: block;
  float: left;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.384);
  margin-top: 0px;
  margin-left: 200px;
  padding-top: 20px;
  box-shadow: 5px 5px 10px rgb(214, 207, 207);
}

.videoPlace {
  margin-left: 200px;
  opacity: 0.9;
}

.inline-block {
  font-weight: lighter;
}

.sustainabilityText {
  width: 90%;
  font-family: "Amatic SC";
  text-align: justify;
  padding-left: 40px;
  font-weight: lighter;
  opacity: 0, 5;
}

@media (max-width: 767.98px) {
    h1 {
        padding-top: 100px;
        padding-left: 30px;
      }
    .sustainabilityText {
        width: 75vw;
        margin-left: 0;
        font-size: 1.1em;
    }
    section {
        display: block;
        float: none;
        width: 90%;
        margin: 50px auto;
        padding: 10px;
      }
      .videoPlace {
        display: none;
      }  
}

@media (max-width: 1024px) { 
  section {
    width: 90%;
    margin-left: 30px;
  }

  .videoPlace {
    margin-left: 65px;
    opacity: 0.9;
  }
 }
